# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vite cache
.vite/

# Environment Variables
.env.local
.env.*.local

# TaxPal_Presentation_Content
frontend/TaxPal_Presentation_Content.md
E:\TaxPal\frontend\TaxPal_Presentation_Content.md